.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
}

.right{
    right: 0;
    background-color: #ece8e1;
    width: 75%;
}

.left{
    left: 0;
    background-color: #ff4655;
    width: 25%;
    overflow-y: scroll;
    padding: 1%;
}

.row{
    width: 100%;
    height: fit-content;
}

.column{
    float: left;
    height: 100%;
    width:50%
}

.AgentCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    width: 80%;
    height:max-content;
    z-index: 2;
    text-align: center;
}

.AgentCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.AgentCardBody{
    padding: 2px 16px;
}

.AgentIcon{
    width: 50%;
    height: 50%;
    border-radius: 2px;
    margin-top: 4%;
}
.AbilitiesIcon{
    width: 20%;
    height: 20%;
    background-color: #ff4655;
    padding: 2%;
    margin: 2%;
    transition: 0.3s;
}

.AbilitiesBar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}